.cart {
    height: 30px;
    width: 50px;
    background-color: rgb(75, 139, 38);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
}
  
.cart:hover {
    background-color: rgb(62, 109, 34);
}

.bubble {
    position: relative;
    left: 12;
    top: 20;
}

