nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid rgb(110, 112, 108, 0.2);
    box-shadow: 0px .5px 2px rgb(110, 112, 108, 0.2);;
}

nav h4 {
    margin: 10px;
}

.cart {
    height: 30px;
    width: 50px;
    background-color: rgb(75, 139, 38);
    border: none;
    border-radius: 5px;
    margin: 10px;
    color: white;
    font-weight: bold;
}
  
.cart:hover {
    background-color: rgb(62, 109, 34);
}

.bubble {
    position: relative;
    left: 12;
    top: 20;
}